## Exercici 1

In [9]:
T1 = ["January", "February", "March"]
T2 = ["April", "May", "June"]
T3 = ["July", "August", "September"]
T4 = ["October", "November","December"]
YearList = [T1,T2,T3,T4];
print(YearList)

[['January', 'February', 'March'], ['April', 'May', 'June'], ['July', 'August', 'September'], ['October', 'November', 'December']]

## Exercici 2

In [47]:
T1 = ["January", "February", "March"]
T2 = ["April", "May", "June"]
T3 = ["July", "August", "September"]
T4 = ["October", "November","December"]
YearList = [T1,T2,T3,T4];
YearList[0][1]

'February'

In [48]:
T1 = ["January", "February", "March"]
T2 = ["April", "May", "June"]
T3 = ["July", "August", "September"]
T4 = ["October", "November","December"]
YearList = [T1,T2,T3,T4];
YearList[0]

['January', 'February', 'March']

In [57]:
T1 = ["January", "February", "March"]
T2 = ["April", "May", "June"]
T3 = ["July", "August", "September"]
T4 = ["October", "November","December"]
YearList = [T1,T2,T3,T4];
value1 = "September"
value2 = "October"
YearList = [T1,T2,T3,T4];
YearList[2][2], YearList[3][0]

('September', 'October')

## Exercici 3

In [29]:
numList = ["1", "3", "8", "6", "5"]
print("Total numbers of the list",len(numList),".")

Total numbers of the list 5 .

In [24]:
numList = ["1", "3", "8", "6", "5"]
if "3" in numList:
    x = numList.count("3")
    print ("Yes, 3 is in the list", x, "times.")
else:
    print ("No, 3 is not in the list.")

Yes, 3 is in the list 1 times.

In [62]:
numList = ["1", "3", "8", "6", "5"]
x = numList.count("3")
y = numList.count("4")
print(x, y)

1 0

In [31]:
numList = ["1", "3", "8", "6", "5"]
x = max(numList)
print ("The maximum value of the list is", x,".")

The maximum value of the list is 8 .

In [39]:
numList = ["1", "3", "8", "6", "5"]
print("The 3 smallest numbers of the list are:",sorted(numList)[:3],".")

The 3 smallest numbers of the list are: ['1', '3', '5'] .

In [117]:
numList = [1, 3, 8, 6, 5]
rang = (max(numList)) - (min(numList))
print(rang)

7

## Exercici 4

In [42]:
compra = { 
    "Pomes" : {"Qty": 5, "€": 0.42}, 
    "Peres" : {"Qty": 3, "€": 0.66} }
compra ["Kiwis"] = {"Qty": 6, "€": 0.96}
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Kiwis': {'Qty': 6, '€': 0.96}}

In [98]:
compra = { 
    "Pomes" : {"Qty": 5, "€": 0.42}, 
    "Peres" : {"Qty": 3, "€": 0.66},
    "Kiwis" : {"Qty": 6, "€": 0.96}}
preuPeres = (compra["Peres"]["Qty"])*((compra["Peres"]["€"]))
print (preuPeres)

1.98

In [104]:
compra = { 
    "Pomes" : {"Qty": 5, "€": 0.42}, 
    "Peres" : {"Qty": 3, "€": 0.66},
    "Kiwis" : {"Qty": 6, "€": 0.96}}
preuPomes = (compra["Pomes"]["Qty"])*((compra["Pomes"]["€"]))
preuPeres = (compra["Peres"]["Qty"])*((compra["Peres"]["€"]))
preuKiwis = (compra["Kiwis"]["Qty"])*((compra["Kiwis"]["€"]))
preuTotal = (preuPomes + preuPeres + preuKiwis)
print (preuTotal)

9.84

In [108]:
compra = { 
    "Pomes" : {"Qty": 5, "€": 0.42}, 
    "Peres" : {"Qty": 3, "€": 0.66},
    "Kiwis" : {"Qty": 6, "€": 0.96}}
preuPomes = (compra["Pomes"]["Qty"])*((compra["Pomes"]["€"]))
preuPeres = (compra["Peres"]["Qty"])*((compra["Peres"]["€"]))
preuPeres = (compra["Kiwis"]["Qty"])*((compra["Kiwis"]["€"]))
preuTotal = {preuPomes:"Pomes", preuPeres:"Peres", preuKiwis:"Kiwis"}
max(preuTotal)
preuTotal.get(max(preuTotal))

'Kiwis'